<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--для нормального отображения на мобильных устройствах-->
    <meta name="viewport" content="width=device-width, initial-scale=0" />
    <title>Драматический театр "Стрела"</title>
</head>
<body bgcolor="#ffffff">
    <!--подключаем шапку-->
    <div th:insert="header"></div>
    <div id="content" align="center" style="padding-top: 130px; width: 100%;">
        <h1>ПОЛЬЗОВАТЕЛИ</h1>
        <!-- список пользователей -->
        <table border="0" cellspacing="0" cellpadding="0" style="width: 70%;">
            <th:block th:each="dt:${users}">
                <tr>
                    <td>
                        <div style="border: 2px solid #8b8b8b; border-radius: 5px; margin-bottom: 5px;">
                            <table border="0" style="width: 100%; margin: 3px;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <!-- фото -->
                                    <td style="vertical-align: top; width: 200px;">
                                        <th:block th:if="${dt.image_str != null}">
                                            <img th:src="'data:image/jpeg;base64,'+ ${dt.image_str}" alt="" style="width: 200px; border-radius: 10px;" src="">
                                        </th:block>
                                        <th:block th:if="${dt.image_str == null}">
                                            <img src="/images/no_image.gif" style="width: 200px; border-radius: 10px;" alt="">
                                        </th:block>
                                    </td>
                                    <!-- данные -->
                                    <td style="vertical-align: top;">
                                        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; padding-left: 5px; padding-right: 5px;">
                                            <tr>
                                                <td class="text3" th:text="${dt.name}"></td>
                                                <td class="text6" th:text="${dt.date_birth_text}" align="right"></td>
                                            </tr>
                                            <tr>
                                                <!-- линиия -->
                                                <td colspan="2"><hr class="hr1"></td>
                                            </tr>
                                            <tr>
                                                <td class="text6" th:text="${dt.login}" title="Логин"></td>
                                                <td class="text6" th:text="${dt.email}" align="right" title="Электронная почта"></td>
                                            </tr>
                                            <tr>
                                                <!-- линиия -->
                                                <td colspan="2"><hr class="hr1"></td>
                                            </tr>
                                            <!-- кнопки -->
                                            <tr>
                                                <td colspan="2" align="right">
                                                    <button class="button3" th:onclick="'Delete(\''+${dt.id}+'\');'">Удалить</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </th:block>
        </table>
        <!--устанавливаем разметку перехода по страницам-->
        <th:block th:if="${not #lists.isEmpty(list_pages)}">
            <th:block th:if="${#lists.size(list_pages[0].list_pages)>1}">
                <table border="0" style="margin: 0 auto;">
                    <th:block th:each="row_pages:${list_pages}">
                        <tr>
                            <th:block th:each="dt:${row_pages.list_pages}">
                                <th:block th:if="${dt.select==0}">
                                    <td class="text_number_page" th:text="${dt.number}" th:onclick="'GoPage(\''+${dt.number}+'\');'"></td>
                                </th:block>
                                <th:block th:if="${dt.select==1}">
                                    <td class="text_number_page_select" th:text="${dt.number}"></td>
                                </th:block>
                            </th:block>
                        </tr>
                    </th:block>
                </table>
            </th:block>
        </th:block>
    </div>
    <!--подключаем подвал-->
    <div th:insert="footer"></div>
</body>
<script type="text/javascript">
    var Page = [[${page}]];
</script>
</html>
<script type="text/javascript" src="js/admin/users.js"></script>